misc/knee_data/
misc/weights/
bullshit/
build/
.vscode/
*pycache*
.ipynb_checkpoints/
*local_files*
*.o
*.cu
*.bin
*.nd2
*.tif
*.zip
particles/movies/
particles/particles.txt
videos/
earthquakes/STEAD/
earthquakes/gps/IGS20_24h_final/
earthquakes/catalogs/
folderer/ml/checkpoints/
folderer/meshes/
folderer/local_data/
sample_data/
enet.ipynb
particlefield/data*
particlefield/logs*
cracks/data/
blade_embedding_data.pkl
*dump/
microsam/
landsat/
trains/
proposal_espci/
cells/GSE114397/
retina/data/SwitchingTrap/
language/datasets/*
*.arrow