bullshit/
build/
.vscode/
*pycache*
.ipynb_checkpoints/
local_files/
*.o
*.bin
*.nd2
*.tif
particles/movies/
particles/particles.txt
videos/
earthquakes/STEAD/
earthquakes/gps/IGS20_24h_final/
folderer/ml/checkpoints/
folderer/meshes/
folderer/local_data/
sample_data/
enet.ipynb
particlefield/data*
particlefield/logs*